h1 {
  color:red;
  text-align: center;
}
h2 {
  font-style: italic;
  text-align: center;
  font-size: 26px;
}

p {
  font-family: helvetica;
  font-weight: bold;
  line-height: normal;
}
head {
  font-size: 72px;
  font-style: bold; 
}
