h1 {
  font-size: 100px;
  font-variant:small-caps;
  color:red;
  text-align: center;
}
h2 {
  font-style: italic;
  text-align: center;
  font-size: 26px;
}
h3 {
  font-size: 35px;
  color: green;
  text-align: center;
  font-family: cursive;
}
p {
  font-family: helvetica;
  font-weight: bold;
  line-height: normal;
}
head {
  font-size: 72px;
  font-style: bold;
}

ul {
  font-size: 35px;
  color: green;
  text-align: center;
  font-family: cursive;
}
